.container-footer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    padding: 0;
    border: 0;
    padding-top: 4rem;
    background-color: var(--color3);
}
.row-footer {
    flex-wrap: no-wrap;
}

.texto-con-borde {
    color: rgb(56, 61, 66);
    /* Color del texto */
    -webkit-text-stroke: 0.5px rgb(225, 225, 225);
    /* Ancho y color del borde */
    font-size: 20px;
    /* Tamaño del texto */
}

.texto-con-borde a {
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
    .row-footer {
        flex-wrap: wrap;
    }
    .toast-container {
        left: 0;
    }
    .texto-con-borde a {
        color: white;
    }
}

@media only screen and (min-width: 769px) {
    .toast-container {
        left: 150px;
    }
}
