.curso-card {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 90%; 
    height: auto;/* Ajusta según tus necesidades */
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa; /* Fondo blanco para la tarjeta */
}

.curso-card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra los elementos horizontalmente */
    color: black;
    flex: 1;
    background-color: #f8f9fa; /* Un color de fondo más suave para la parte inferior */
    color: #495057; /
    /* Texto blanco para la parte inferior */
}
.curso-card-img {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 35%;
    /* height: 150px; */
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    filter: drop-shadow(0 0 0.75rem #444141);
}
.curso-card-title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: #333;
    margin: 1rem;
    text-align: center;
    font-weight: bolder;
    /* min-width: 60px; */
    /* min-height: 54px; */
    /* font-weight: 600; */
    /* justify-content: center; */
}

.curso-card-price {
    font-size: 2.4em;
    margin-bottom: 16px; /* Espaciado debajo del precio */
    text-align: center;
    color: #27ae60; /* Un color distintivo para el precio */
    font-weight: bold;
}

.curso-card-author,
.curso-card-duration,
.curso-card-start {
    font-size: 1em;
    margin: 4px 0; /* Espaciado uniforme para los elementos de la lista */
    padding: 0 20px; /* Padding horizontal para alinear con el título */
}

.curso-btn {
    padding: 8px 20px;
    width: calc(100% - 40px); /* Ajusta el ancho para tener en cuenta el padding */
    background-color: #007bff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem; /* Alinea el botón al final */
    transition: background-color 0.3s;
    border-radius: 10px;
}

.curso-btn:hover {
    background-color:var(--color3);
    color: #ddd;
    box-shadow: none; /* Elimina cualquier sombra al pasar el mouse */
}

@media (max-width: 768px) {
    .curso-card {
        width: 100%; /* Las tarjetas ocupan todo el ancho en móviles */
        margin: 10px 0px; /* Menos margen en dispositivos móviles */
    }
}