.background-7 {
    padding: 20px;
    background-image: url("../assets/fondo_panta2.jpg");
    background-size: cover; /* Esto asegura que la imagen cubra el contenedor */
    background-position: center; /* Esto centra la imagen en el contenedor */
    background-repeat: no-repeat;
    display: flex;
    /* height: 100vh; */
}


.background-6 {
    padding: 20px;
    background-image: url("../assets/fondo_panta2.jpg");
    background-size: cover;
    /* Esto asegura que la imagen cubra el contenedor */
    background-position: center;
    /* Esto centra la imagen en el contenedor */
    background-repeat: no-repeat;
    display: flex;

}

.cursos-titulo {
    color: beige;
    background-color: var(--color3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
    margin-top: 4rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.parrafo {
    color: #333;
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    /* margin-bottom: 2rem;
    width: 80%; */
    text-align: justify;
    margin-left: auto; /* Centra el párrafo horizontalmente */
    margin-right: auto;
    font-weight: bold;
}

.curso-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 768px) {
    .cursos-titulo {
    font-size: 2rem;
}

    .background-7 {
    height: auto;
    display: block;
    }
}