.evento {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.slick-prev {
    color: var(--color3);
    left: -1.5rem;
}

.evento-encabezado {
    display: flex;
    justify-content: space-around;
}
.titulo-evento-anuncio {
    color: beige;
    background-color: var(--color3);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    display: inline-block;
    width: 90%;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: bold;
}
.card-evento-anuncio {
    display: flex;
    padding: 1.5rem;
    border-radius: 1rem;
    height: 70vh;
    background: linear-gradient(to right, #008080, #00ced1);
    color: white;
    flex-direction: column;
    text-align: center;
}

.body-card-seccionanuncios {
    overflow: auto;
    scrollbar-gutter: stable;
}

.body-card-seccionanuncios::-webkit-scrollbar {
    display: none;
}

.body-card-seccionanuncios::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (max-width: 767px) {
    .card-evento-anuncio {
        height: 60vh;
        width: 100%;
    }
}

.card-evento-titulo {
    border-radius: 0 0 1rem 1rem;
    background: var(--color6);
    font-weight: bolder;
    color: var(--color6);
    font-family: georgia;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0rem;
}

.card-evento-descripcion {
    text-overflow: ellipsis;
    white-space: normal;
    display: block;
    word-wrap: break-word;
    max-height: 10rem;
    line-height: 1.5;
    padding: 0.2rem;
}

.card-event-image {
    height: 200px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.card-evento-subtitulo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.slick-dots li button:before {
    color: #fff;
}

/* .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
} */

@media (max-width: 767px) {
    .col-md-6 {
        width: 100%;
    }
}
