/* src/home2.css */

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.landing-page {
    background-color: #e6e5e1;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    color: #000;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
header {
    background-color: #deececd4;
    color: #000;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-icon {
    padding: 1rem;
}

.titulo-hero {
    font-weight: bold;
    color: var(--color3);
    text-transform: uppercase;
    -webkit-text-stroke: 2px #b6b6b6;
    font-size: 3rem;
    text-align: center;
    /* background-color: var(--color3); */
}

.header-action {
    display: flex;
    display: flex;
    align-items: baseline;
}
.navbarstyle {
    display: flex;
    height: 100%;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

.navbarstyle ul {
    list-style: none;
    display: flex;
}

.navbarstyle li {
    margin-right: 20px;
    position: relative;
    color: black;
}

.navbarstyle a {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.navbarstyle a::before {
    color: var(--color1);
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    /* Altura del subrayado */
    bottom: 0;
    left: 50%;
    /* Posición inicial en el centro */
    background-color: #12b0b4;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbarstyle li:hover a::before {
    color: var(--color1);
    width: 100%;
    /* Ancho del subrayado al pasar el mouse */
    left: 0;
    /* Posición final, para centrar el subrayado */
}
a:hover {
    color: var(--color1);
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #346084;
}

.main section {
    /* display: flex; */
    /* height: 100vh; */
    /* padding: 20px; */
    background: rgb(230, 229, 225);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    color: #fff;
}

.item-menu {
    color: rgb(56, 61, 66);
    font-size: 1rem;
}

.main {
    /* padding-bottom: 2rem; */
    min-height: 100vh;
    background-image: url(/src/assets/fondo_panta2.jpg);
    /* margin-top: 4rem; */
}
header h3 {
    padding: 0.5rem;
    font-size: 1rem;
    text-align: start;
    color: black;
}

.background-1 {
    background-image: url("../assets/fondo_pantalla.jpg");
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    /* Centra la imagen en el contenedor */
    /* height: 300px;
    border-radius: 2rem;
        padding: 3rem;
    background-image: linear-gradient(245deg,
                hsl(48deg 9% 89%) 14%,
                hsl(184deg 44% 82%) 91%,
                hsl(186deg 70% 73%) 101%); */
}

.img-curso-landing {
    height: 8rem;
    border-radius: 1rem;
}

.background-2 {
    background-image: url("../assets/fondo_panta.jpg");

    min-height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.background-3 {
    background-image: url("../assets/fondo_panta2.jpg");
    /* display: flex; */
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    align-items: center;
}

.background-4 {
    background-image: url("../assets/fondo_panta2.jpg");

    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.background-5 {
    background-image: url("../assets/fondo_panta2.jpg");

    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.icon {
    padding: 1rem;

    display: flex;
    align-items: center;
}

.item-curso {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: row;
}

.item-curso:nth-child(even) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.unidades {
    margin-top: 1rem;
    max-height: 60%;
    /* Asegúrate de que no haya una altura máxima establecida en otro lugar */
    overflow: overlay;
    scrollbar-gutter: stable;
}

.unidades::-webkit-scrollbar {
    display: none;
    /*Para que scrollbar-gutter funcione la barra de scroll debe existir*/
    background-color: transparent;
}

/* .unidades:hover::-webkit-scrollbar {
    display: initial;
} */

.unidades::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* .unidades:hover::-webkit-scrollbar-thumb {
    background-color: #09C;
} */
.unidades ul {
    overflow: hidden;
    text-align: start;
    margin-left: -1rem;
}

.descripcion-unidades {
    line-height: 1;
    margin-bottom: 0;
    font-size: 14px;
}

.container-seccion2 {
    min-height: 100vh;
    /* height: 100%; */
    display: flex;
    padding: 6rem 5rem 0px;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-encabezado {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.on-demand {
    text-transform: uppercase;
}

#seccion4 {
    background-image: url(/src/assets/fondo_panta2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.p-mobile {
    display: block;
    color: var(--color3);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    -webkit-text-stroke: 1px var(--color3);
}

@media only screen and (max-width: 768px) {
    .navbarstyle ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        display: none;
        text-align: center;
    }
    .titulo-hero {
        font-size: 2rem;
    }

    .navbarstyle ul.menu-open {
        display: flex;
        top: 120px;
        background-color: #1eacb6;
    }

    .navbarstyle li {
        margin: 0;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
    }

    .menu-icon {
        display: block;
    }

    .item-menu {
        color: rgb(245, 245, 245);
        font-size: 2rem;
    }

    .mobile {
        /* padding-bottom: 3rem; */
        height: 100%;
        display: flex;
        /* height: 100%; */
        flex-direction: column;
        justify-content: flex-end;
    }
    /* .p-mobile {
        display: block;
        color: #333;
        font-size: 2rem;
        font-weight: bold;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
            sans-serif;
    } */

    .icon {
        width: 80%;
    }

    .descripcion-unidades {
        margin-bottom: 0;
        font-size: 22px;
        line-height: 1.5;
    }

    .info-cursos {
        font-size: 1.5rem;
        text-align: start;
        line-height: 1.3;
    }

    .info-encabezado {
        font-size: 1.5rem;
    }
    .item-curso {
        /* margin-bottom: 4rem; */
        /* padding: 4rem; */
        height: 60vh;
        padding-top: 0;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .on-demand {
        font-size: 2rem;
    }

    .accion button {
        margin-top: 3rem;
        width: 100%;
    }

    .header-action {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .container-seccion2 {
        padding: 3rem 1rem 0px;
    }

    .text-start {
        margin-bottom: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
