.fondo-panta {
    background-image: url("../assets/fondo_panta.jpg");
    background-size: cover;
    background-position: center;
}

.fondo-panta {
    padding-top: 80px;
    text-align: start;
    padding-bottom: 80px;
}

.body-inscripcion {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana;
    padding: 15px;
    font-size: 18px;
    color: var(--color3);
}

.body-inscripcion h2 {
    color: #2e4344;
    text-shadow: 2px 2px 4px var(--color3);
    padding-top: 1rem;
    font-weight: 900;
}
.body-inscripcion h3 {
    color: #2e4344;
    text-shadow: 2px 2px 4px var(--color3);
    font-weight: 900;
    font-size: 15px;
}

.body-inscripcion p {
    font-weight: 400;
}
.body-inscripcion li {
    font-weight: 400;
}
.header-inscripcion {
    position: sticky;
    top: 5rem;
    background: var(--color6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    padding: 1rem;
}

.acordeon-mui {
    margin-left: 10px;
    position: unset;
    z-index: unset;
    width: 100%;
    background: var(--color6) !important;
    color: var(--color5);
}

.contenedor-imagen-curso img {
    height: 8rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0 0 0.75rem #444141);
    height: 150px;
    width: auto;
}

.container-modulos {
    display: flex;
    flex-direction: column;
}

.boton-inscripcion {
    background-color: #4caf50;
    color: #fff;
    padding: 15px 20px;
    border: 2px solid var(--color2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.boton-inscripcion:hover {
    background-color: #e3e3e3;
    /* Nuevo color de fondo al pasar el ratón */
    color: #000000;
    /* Nuevo color de texto al pasar el ratón */
    border-color: #1976d2;
    /* Nuevo color del borde al pasar el ratón */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    /* Nueva sombra al pasar el ratón */
}

.info-inscripcion h2,
.info-inscripcion h3 {
    text-shadow: 2px 2px 4px var(--color3);
    font-weight: bold;
    text-transform: capitalize;
    color: var(--color5);
}
@media only screen and (max-width: 768px) {
    .header-inscripcion {
        top: 8rem;
    }
    .container-modulos {
        align-items: center;
    }
    .acordeon-mui {
        width: 100%;
    }

    .fondo-panta {
        padding-top: 130px;
    }
    .body-inscripcion {
        padding-top: 2rem;
    }
    .contenedor-imagen-curso img {
        max-width: 8rem;
    }
    .contenedor-imagen-curso {
        display: none;
    }
}
