/* Estilos para el contenedor principal */
.container-login {
    /* padding-top: 7rem;
    padding-bottom: 1rem; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

/* Estilos para el contenedor de video 
.video-container {
    max-width: 500px; 
    border-radius: 50%;
    overflow: hidden;
}


*/

.video-responsive-home {
    width: 90%;
    height: auto;
}

.video-container {
    max-width: 300px; /* Limita el tamaño máximo del vídeo */
    border-radius: 50%; /* Hace que el contenedor sea redondo */
    overflow: hidden;
    aspect-ratio: 1; /* Mantiene la relación de aspecto 1:1 para asegurar la forma circular */
}

/* Estilos para el video */
.video-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el contenedor */
}

.video-responsive-home {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el contenedor */
}

/* Estilos para el contenedor del formulario */
.form-container {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo del formulario */
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    /* .container-login {
        margin: 6rem auto;
        flex-direction: column;
    } */

    .form-container {
        width: 100%;
        width: 100%;
        max-width: none;
    }

    .video-container {
        width: 70%;
    }
    .responsive-container-logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .responsive-container-form-login {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.background-login {
    background-image: url("../assets/fondo_panta.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
}
