.card-text {
    color: var(--aepa-texto);
    font-size: 1rem;
    text-align: start;
}

.card-title-nosotros {
    color: var(--aepa-azul);
    font-size: 2rem;
    margin-bottom: 2rem;
}
.titulo-nosotros {
    color: #333;
    font-size: 2rem;
    line-height: 1.6;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    /* margin-bottom: 2rem;
    width: 80%; */
    text-align: center;
    margin-left: auto; /* Centra el párrafo horizontalmente */
    margin-right: auto;
    font-weight: bold;
}
.card-nosotros {
    background-color: rgba(241, 241, 241, 0.699);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3rem;
    box-sizing: border-box;
}

.contenedor-card-nostros {
    display: flex;
    flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan en una fila adicional */
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.parrafo-nosotros {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.parrafo-nosotros .highlight {
    font-weight: bold;
    color: #061f38;
    font-size: 20px;
    font-style: italic;
}

.imagen-organizacion {
    align-items: center;
    margin-top: 1rem;
    filter: drop-shadow(0 0 0.75rem #444141);
    width: 200px;
    border: 2px solid var(--color3);
}

.label-imagen {
    color: var(--color3);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.label-imagen .titulo {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.label-imagen .nombre {
    display: block;
    font-size: 1em;
    font-weight: normal;
    text-transform: none;
    color: var(--color4);
    font-weight: 800;
}

/* Asegúrate de definir los colores si no lo has hecho aún */
:root {
    --color3: #333; /* Color del título */
    --color4: #bb7815; /* Color del nombre */
}
.nosotros-mobile {
    flex-direction: column;
}


@media (max-width: 400px) {

}

@media (max-width: 1000px) {
    
}